/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1853 {
    padding: var(--sectionPadding);
    background-color: #222222;
  }
  #services-1853 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1853 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1853 .cs-title {
    /* 28px - 44px */
    margin: 0 0 clamp(1.75rem, 6vw, 2.75rem);
    color: var(--bodyTextColorWhite);
  }
  #services-1853 .cs-ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-1853 .cs-li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #services-1853 .cs-link {
    text-decoration: none;
    padding: 1.25rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #services-1853 .cs-link:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1853 .cs-link:hover .cs-icon {
    transform: scale(1.2);
  }
  #services-1853 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #services-1853 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
    transform-origin: bottom left;
  }
  #services-1853 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8rem, resets at tablet */
    font-size: min(2.235vw, 0.8em);
    width: 39.375em;
    height: 38.3125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #services-1853 .cs-picture {
    position: absolute;
  }
  #services-1853 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1853 .cs-picture1 {
    width: 25.8125em;
    height: 33.75em;
    top: 0;
    right: 0;
  }
  #services-1853 .cs-picture2 {
    width: 19.0625em;
    height: 22.8125em;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
  #services-1853 .cs-floater {
    /* 62px - 120px */
    width: clamp(3.875rem, 14vw, 7.5rem);
    height: clamp(3.875rem, 14vw, 7.5rem);
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 17.5em;
    z-index: 10;
    transform: translate(-50%);
  }
  #services-1853 .cs-floater-icon {
    /* 32px - 60px */
    width: clamp(2rem, 4.6vw, 3.75rem);
    height: auto;
    display: block;
  }
  .container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .accordion-item {
    border-radius: 0.4rem;
  }
  .accordion-item hr {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .accordion-link {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  .accordion-link h3 {
    font-weight: 500;
    font-size: 20px;
  }
  .accordion-link i {
    color: #e7d5ff;
    padding: 0.5rem;
  }
  .accordion-link ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  .accordion-link li {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
  }
  .accordion-link div {
    display: flex;
  }
  .accordion-link .ion-md-arrow-down {
    display: none;
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 1s;
  }
  .answer p {
    color: #fff;
    font-size: 15px;
    padding: 2rem;
  }
  /* Using focus-within to handle the open/close of accordion */
  .accordion-item:focus-within .answer {
    max-height: 20rem;
  }
  .accordion-item:focus-within .accordion-link .ion-md-arrow-forward {
    display: none;
  }
  .accordion-item:focus-within .accordion-link .ion-md-arrow-down {
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1853 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #services-1853 .cs-content {
    text-align: left;
    padding: 3.25rem 0;
    align-items: flex-start;
    align-self: center;
  }
  #services-1853 .cs-image-group {
    font-size: min(1.265vw, 1rem);
    height: auto;
    min-height: 38.3125em;
    flex: none;
    order: 2;
  }
  #services-1853 .cs-picture1 {
    height: 88.091354%;
  }
  #services-1853 .cs-picture2 {
    height: 59.54323%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1853 {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/*-- ============================================ -->
  <!--                   Banner                     -->
  <!-- ============================================ --*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #ban {
    padding: var(--sectionPadding);
  }
  #ban .ban-wrapper1 {
    --s: 1;
    --n: 8;
    /* number of items inside the wrapper */
    --u: 12em;
    --x: calc(var(--s)*var(--n)*var(--u));
    display: grid;
    grid-template-columns: repeat(var(--n), var(--u));
    text-align: center;
    text-shadow: calc(-1*var(--x)) 0;
    white-space: nowrap;
    animation: a 30s linear infinite;
    padding-bottom: 1.5rem;
  }
  #ban .ban-wrapper1:nth-child(2n) {
    --s: -1;
  }
  #ban .ban-wrapper2 {
    --s: 1;
    --n: 8;
    /* number of items inside the wrapper */
    --u: 12em;
    --x: calc(var(--s)*var(--n)*var(--u));
    display: grid;
    grid-template-columns: repeat(var(--n), var(--u));
    text-align: center;
    text-shadow: calc(-1*var(--x)) 0;
    white-space: nowrap;
    animation: a 30s linear infinite;
  }
  #ban .ban-wrapper2:nth-child(2n) {
    --s: -1;
  }
  @keyframes a {
    0% {
      translate: var(--x);
    }
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #ban {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--bodyTextColorWhite);
  }
}
