

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    background-color: #222222;
    margin: 0;
    padding: var(--sectionPadding);
    display: flex;
  }
  #sbs .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* 48px - 64px */
   
  }
  #sbs .content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 5rem;
    margin-left:10rem;
      
    
  }
  #sbs .title {
    /* 28px - 44px */
    margin: 0 0 clamp(1.75rem, 6vw, 2.75rem);
    color: var(--bodyTextColorWhite);
  }
  #sbs .ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs .li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  #sbs .link {
    text-decoration: none;
    padding: 1.25rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #sbs .link:hover .cs-h3 {
    color: var(--primary);
  }
  #sbs .link:hover .icon {
    transform: scale(1.2);
  }
  #sbs .h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #sbs .icon {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
    transform-origin: bottom left;
  }
  #sbs .image-group {
      box-sizing: border-box;
      width: 100%;
      margin: 5rem;
      padding: 0;
      font-family: sans-serif;
      background-color: #262626;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    
    i {
      position: relative;
      display: block;
      width: 100%;
      height: 20rem;
      overflow: hidden;
      border-radius: 5px;
    }
       
    input {
      appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateX(100%);
      transition: transform ease-in-out 400ms;
      z-index: 1;
    }
    
    input:focus {
      outline: none;
    }
    
  
    
    input:not(:checked):before {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 50%;
      left: calc(-100% + 1rem);
    }
    
    input:checked:before {
      display: none;
      left: 1rem;
    }
    
    input:checked {
      transform: translateX(0);
      z-index: 0;
      box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
    }
    
    input:checked + input:before {
      left: -3rem;
    }
    
    input:checked + input ~ input:before {
      display: none;
    }
    
  .container {
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
    
    .accordion-item {
      border-radius: .4rem;
    }
    
    .accordion-item hr {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    
    .accordion-link {
      font-size: 1.6rem;
      color: rgba(255,255,255,.8);
      text-decoration: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      background: none;
      border: none;
      text-align: left;
      cursor: pointer;
    }
    
    .accordion-link h3 {
      font-weight: 500;
      font-size: 20px;
    }
    
    .accordion-link i {
      color: #e7d5ff;
      padding: .5rem;
    }
    
    .accordion-link ul {
      display: flex;
      align-items: flex-end;
      list-style-type: none;
      margin-left: 25px;
    }
    
    .accordion-link li {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.4);
      padding: 0 0 1px 5px;
    }
    
    .accordion-link div {
      display: flex;
    }
    
    .accordion-link .ion-md-arrow-down {
      display: none;
    }
    
    .answer {
      max-height: 0;
      overflow: hidden;
      position: relative;
      transition: max-height 0.5s ease-out;
    }
    
    .answer p {
      color: #fff;
      font-size: 15px;
      padding: 2rem;
    }
    
   
    .accordion-item:hover .answer {
      max-height: 10rem;
    }
    
    .accordion-item:hover .accordion-link .ion-md-arrow-forward {
      display: none;
    }
    
    .accordion-item:hover .accordion-link .ion-md-arrow-down {
      display: block;
    }

    h3 {
      color:var(--bodyTextColorWhite);
    }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-1853 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #services-1853 .cs-content {
      text-align: left;
      padding: 3.25rem 0;
      align-items: flex-start;
      align-self: center;
    }
    #services-1853 .cs-image-group {
      font-size: min(1.265vw, 1rem);
      height: auto;
      min-height: 38.3125em;
      flex: none;
      order: 2;
    }
    #services-1853 .cs-picture1 {
      height: 88.091354%;
    }
    #services-1853 .cs-picture2 {
      height: 59.54323%;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #services-1853 {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
                                  

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-974 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
    
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0 0 (24/16rem) 0;
        }

        .cs-button-group {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: (8/16rem);
            column-gap: (32/16rem);
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.5rem;
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            transition: color 0.3s;
            &:hover {
                color: var(--primary);
                cursor: pointer;
            }
            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-gallery-wrapper {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .cs-gallery {
            width: 100%;
            gap: 1rem;
            padding: 0;
            margin: 0;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the top:0 value, the gallery won't go past that posiiton when it animates */
                top: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem);
                    opacity: 0;
                }
            }
        }

        .cs-image {
            width: 50%;
            aspect-ratio: 1;
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
            transform: translateY(0rem);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* the transition delays change at desktop */
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.75s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.9s;
            }
            &:nth-of-type(7) {
                transition-delay: 1.05s;
            }
            &:nth-of-type(8) {
                transition-delay: 1.2s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #gallery-974 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-image {
            width: 25%;
            height: (400/16rem);

            &:nth-of-type(1) {
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.6s;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-974 {
            .cs-title,
            .cs-button {
                color: var(--bodyTextColorWhite);
            }

            .cs-button {
                &.cs-active {
                    color: var(--primary);
                }
            }
        }
    }
}
    
/*-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ --*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #ban {
    padding: var(--sectionPadding);
   
        .ban-wrapper1 {
      --s: 1;
      --n: 8; /* number of items inside the wrapper */
      --u: max(12em, 100vw/var(--n));
      --x: calc(var(--s)*var(--n)*var(--u));
      display: grid;
      grid-template-columns: repeat(var(--n), var(--u));
      text-align: center;
      text-shadow: calc(-1*var(--x)) 0;
      white-space: nowrap;
      animation: a 30s linear infinite;
      padding-bottom: 1.5rem;
      
      &:nth-child(2n) { --s: -1 }
    }
    
    .ban-wrapper2 {
      --s: 1;
      --n: 8; /* number of items inside the wrapper */
      --u: max(12em, 100vw/var(--n));
      --x: calc(var(--s)*var(--n)*var(--u));
      display: grid;
      grid-template-columns: repeat(var(--n), var(--u));
      text-align: center;
      text-shadow: calc(-1*var(--x)) 0;
      white-space: nowrap;
      animation: a 30s linear infinite;
      
      &:nth-child(2n) { --s: -1 }
    }
        @keyframes a { 0% { translate: var(--x) } }
  }
 }
 
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #ban {
      background-color: rgba(0, 0, 0, 0.6);
      color:var(--bodyTextColorWhite);
    }
  }
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-65 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1104/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* changes to a clamp at tablet */
            gap: (24/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (347/16rem);
            /* padding left & right 16px - 32px */
            padding: 0 clamp(1rem, 2.1vw, 2rem);
            /* 24px - 40px */
            padding-bottom: clamp(1.5rem, 3.3vw, 2.5rem);
            margin: 0;
            background: #fff;
            border: 1px solid var(--primaryLight);
            border-radius: (4/16rem);
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
            /* prevent padding from adding to the height and width */
            box-sizing: border-box;
        }

        .cs-img {
            /* 20px - 24px */
            width: clamp(1.25rem, 3.2vw, 1.5rem);
            /* 14px - 16px */
            height: clamp(0.875rem, 2.1vw, 1rem);
            margin: 0 auto (10/16rem);
            display: block;
            transform: translateY(-0.5rem);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: center;
            margin: 0 0 (16/16rem);
            color: #7d799c;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            max-width: (280/16rem);
            margin: auto;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-65 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            row-gap: (46 / 16) * 1rem;
        }

        .cs-item {
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-65 {
            background: rgba(0, 0, 0, 0.2);

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-name,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--dark);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}

                                