---
title: 'TriCity Technologies'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1949">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Building Your Home Accommodation</h1>
            <p class="cs-text">We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master new technologies.</p>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Construction</h3>
                <p class="cs-item-text">
                    Designing and Building The Most Beautiful Custom Homes.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Project Development</h3>
                <p class="cs-item-text">
                    Designing and Building The Most Beautiful Custom Homes.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Interior Design</h3>
                <p class="cs-item-text">
                    Designing and Building The Most Beautiful Custom Homes.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Architecture</h3>
                <p class="cs-item-text">
                    Designing and Building The Most Beautiful Custom Homes.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/tc-office2.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/tc-office2.webp">
        <img decoding="async" src="/assets/images/tc-office2.webp" alt="office" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
 <!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="sbs">
    <div class="container">
        <div class="image-group">
            <i>
                <input checked type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=1');">
                <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=2');">
                <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=3');">
                <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=4');" >
                <input type="radio" name="s" style="background-image: url('https://picsum.photos/500/300?random=5');">
              </i>
             <script>
              let index = 0;
              const inputs = document.querySelectorAll('input[name="s"]');
              const totalImages = inputs.length;
          
              function showNextImage() {
                  inputs[index].checked = false; // Uncheck the current image
                  index = (index + 1) % totalImages; // Move to the next image
                  inputs[index].checked = true; // Check the new image
              }
          
              // Change the image every 3 seconds
              setInterval(showNextImage, 3000);
          </script>
        </div>
        <div class="content">
            <span class="topper">Our Services</span>
            <h2 class="title">What Services You Can Get From Us</h2>
            
            <div class="accordion">
                <div class="accordion-item" id="question1">
                    <button class="accordion-link" aria-expanded="false">
                    <div class="flex">
                    <h3>BRANDING</h3>
                    <ul>
                        <li>#Figma</li>
                        <li>#Sketch</li>
                        <li>#Adobe</li>
                        <li>#Invision</li>
                        <li>#Protopie</li>
                    </ul>
                    </div>
                    <i class="icon ion-md-arrow-forward"></i>
                    <i class="icon ion-md-arrow-down"></i>
                </button>
                <div class="answer">
                    <p> We believe in the greater good, we strive to do something for people, we aim to make their lives easier and more enjoyable, we love businesses that keep this</p>
                </div>
                <hr>
            </div>
                <div class="accordion-item" id="question2">
                    <button class="accordion-link" aria-expanded="false">
                    <div class="flex">
                    <h3>UX/UI DESIGN</h3>
                    <ul>
                        <li>#Figma</li>
                        <li>#Sketch</li>
                        <li>#Adobe</li>
                        <li>#Invision</li>
                        <li>#Protopie</li>
                    </ul>
                    </div>
                    <i class="icon ion-md-arrow-forward"></i>
                    <i class="icon ion-md-arrow-down"></i>
                </button>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                </div>
                <hr>
            </div>
                <div class="accordion-item" id="question3">
                    <button class="accordion-link" aria-expanded="false">
                    <div class="flex">
                    <h3>FRONTEND DEVELOPMENT</h3>
                    <ul>
                        <li>#Figma</li>
                        <li>#Sketch</li>
                        <li>#Adobe</li>
                        <li>#Invision</li>
                        <li>#Protopie</li>
                    </ul>
                    </div>
                    <i class="icon ion-md-arrow-forward"></i>
                    <i class="icon ion-md-arrow-down"></i>
                </button>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                </div>
                <hr>
            </div>
                <div class="accordion-item" id="question4">
                    <button class="accordion-link" aria-expanded="false">
                    <div>
                    <h3>BACKEND DEVELOPMENT</h3>
                    <ul>
                        <li>#Figma</li>
                        <li>#Sketch</li>
                        <li>#Adobe</li>
                        <li>#Invision</li>
                        <li>#Protopie</li>
                    </ul>
                    </div>
                    <i class="icon ion-md-arrow-forward"></i>
                    <i class="icon ion-md-arrow-down"></i>
                </button>
                <div class="answer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                </div>
                <hr>
            </div>
            </div>
            
        </div>
    </div>
</section>
                                

                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-974">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Some Work from Our Memorable Gallery</h2>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one">
                    All
                </button>
                <button class="cs-button" data-filter="two">
                    Healthcare
                </button>
                <button class="cs-button" data-filter="three">
                    Construction
                </button>
                <button class="cs-button" data-filter="four">
                    Landscaping
                </button>
                <button class="cs-button" data-filter="five">
                    Retail
                </button>
            </div>
        </div>
        <div class="cs-gallery-wrapper">
            <!--Gallery 1-->
            <div class="cs-gallery" data-category="one">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
            </div>
            <!--Gallery 2-->
            <div class="cs-gallery cs-hidden" data-category="two">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
            </div>
            <!--Gallery 3-->
            <div class="cs-gallery cs-hidden" data-category="three">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
            </div>
            <!--Gallery 4-->
            <div class="cs-gallery cs-hidden" data-category="four">
                <!--Picture 1-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 2-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
                <!--Picture 3-->
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/tc-web2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/tc-web2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/tc-web2.webp" alt="gallery" width="500" height="222">
                </picture>
            </div>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<section id="ban">  
    <div class="ban-wrapper1">
        <div class="itemLeft item1">User-Friendly Navigation</div>
        <div class="itemLeft item2">Responsive Design</div>
        <div class="itemLeft item3">Fast Loading Speed</div>
        <div class="itemLeft item4">High-Quality Content</div>
        <div class="itemLeft item5">Strong Visual Design</div>
        <div class="itemLeft item6">SEO Optimization</div>
        <div class="itemLeft item7">Security</div>
        <div class="itemLeft item8">Clear Call-to-Action</div>
      </div>
      <div class="ban-wrapper2">
        <div class="itemRight item1">Personalized Service</div>
        <div class="itemRight item2">Direct Communication</div>
        <div class="itemRight item3">Flexibility and Adaptability</div>
        <div class="itemRight item4">Attention to Detail</div>
        <div class="itemRight item5">Community Connection</div>
        <div class="itemRight item6">Competitive Pricing</div>
        <div class="itemRight item7">Innovation and Creativity</div>
        <div class="itemRight item8">Trust and Reliability</div>
      </div>
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-65">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/blue-quote.svg" alt="blue quote" width="24" height="16">
                <span class="cs-name">John Doe</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/blue-quote.svg" alt="blue quote" width="24" height="16">
                <span class="cs-name">Jane Smith</span>
                <span class="cs-desc">California</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/blue-quote.svg" alt="blue quote" width="24" height="16">
                <span class="cs-name">Thomas Madden</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
        </ul>
        <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a>
    </div>
</section>
                                
<script> 
        
    class GalleryFilter {
    filtersSelector = '.cs-button'
    imagesSelector = '.cs-gallery'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        const $filters = document.querySelectorAll(this.filtersSelector)
        this.$activeFilter = $filters[0]
        this.$images = document.querySelectorAll(this.imagesSelector)

        this.$activeFilter.classList.add(this.activeClass)

        for (const $filter of $filters) {
        $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $image of this.$images) {
        const show = showAll || $image.dataset.category == filter
        $image.classList.toggle(hiddenClass, !show)
        }
    }
    }

    new GalleryFilter()

</script>
    {% include 'components/cta.html' %}
{% endblock %}